html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Denk One', sans-serif; */

img {
  width: 100%;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: .5em .75em .6em;
}

ol li {
  background-color: #ede3db;
  list-style-type: none;
  padding: .5em .75em .6em;
  margin: 0;
  border: 2px solid #623b0c;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

ol li p {
  flex-grow: 1;
}

ol li a {
  text-decoration: none;
  color: #ede3db;
  background-color: #623b0c;
  padding: .5em .75em .6em;
  border-radius: 8px;

}
